body {
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:16px;
	color:#444;
	padding:0 10px
}

h1,h2,h3 {
	line-height:1.2
}

#side-bar{
	background: #eeeeee;
	border: 1px solid #cccccc;
	overflow: auto;
	padding: 4px;
}

a, a:active {text-decoration: none; color: blue;}
a:visited {color: #48468F;}
a:hover, a:focus {text-decoration: underline; color: red;}

/* table - fs tree */
table {margin-left: 12px;}
th, td { font: 90% monospace; text-align: left;}
th { font-weight: bold; padding-right: 14px; padding-bottom: 3px;}
td {padding-right: 14px;}
td.s, th.s { text-align: right; }
#selected { background-color: #d6d6d6 }

/* title */
.headerSubtitle { font-size: 0.6em; font-weight: normal; margin-left: 1em; }

/* Footer */
#footer .right { text-align: right; font-size: 10px; }
#footer a { color: #111; text-decoration: none; }
#footer a:hover { text-decoration: underline; }
